
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    


    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div>
        <form>
            <input id="btnName" type="text" name="Name" />
            <input id="btnAge" type="text" name="Age" />
            <input id="btnAdd" type="submit" value="submit" />
        </form>
    </div> 
        <script>
            $('#btnAdd').click(function () {
                var data = {
                    Name: $('#btnName').val(),
                    Age: $('#btnAge').val(),
                }
                $.ajax({
                    url: 'http://localhost:52142/api/Defunct/MeName',
                    type: 'post',
                    //data: data,
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json",//跨域
                    success: function (d) {
                        if (d > 0) {
                            alert('成功');
                        }
                        else {
                            alert('失败');
                        }
                    }
                })
            })
        </script>
    
</body>
</html>


