
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>

    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <script src="~/echarts-5.0.2/dist/echarts.min.js"></script>
</head>
<body>
   
        <div style="width:1600px;height:1000px;padding-left:-50px;" >
        <div style="padding: 15px;" >
        <div style="width:756px;height:150px;float:left;margin-left:-10px;margin-top:50px;border-bottom:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-top:1px solid #c1c1c1;border-right:1px solid #c1c1c1" >
        <div style="height:45px;background-color:whitesmoke;border-bottom:1px solid #c1c1c1" >
        <strong > <label style="font-size:15px;float:left;margin-left:25px;margin-top:11px" > 运营快捷入口</label > </strong >
        </div >
        <div style="height:105px;width:125px;float:left;border-right:1px solid #c1c1c1" >
        <i class="layui-icon layui-icon-add-circle" style="color: #12ADA9;font-size:50px;float:left;margin-left:35px;margin-top:15px" > <br/> </i >
        <a style="float:left;margin-left:30px;margin-top:5px;font-size:15px" > 添加商品</a >
        </div >
        <div style="height:105px;width:125px;float:left;border-right:1px solid #c1c1c1" >
        <i class="layui-icon layui-icon-list" style="color: #12ADA9;font-size:55px;float:left;margin-left:35px;margin-top:15px" > <br /> </i >
        <a style="float:left;margin-left:30px;font-size:15px" target="qwer" href="https://www.baidu.com/" > 商品列表</a >
        </div >
        <div style="height:105px;width:125px;float:left;border-right:1px solid #c1c1c1" >
        <i class="layui-icon layui-icon-user" style="color: #12ADA9;font-size:50px;float:left;margin-left:35px;margin-top:15px" > <br/> </i >
        <a style="float:left;margin-left:30px;margin-top:5px;font-size:15px" > 供应商审核</a >
        </div >
        <div style="height:105px;width:125px;float:left;border-right:1px solid #c1c1c1" >
        <i class="layui-icon layui-icon-cart" style="color: #12ADA9;font-size:50px;float:left;margin-left:35px;margin-top:15px" > <br /> </i >
        <a style="float:left;margin-left:30px;margin-top:5px;font-size:15px" > 销售统计</a >
        </div >
        <div style="height:105px;width:125px;float:left;border-right:1px solid #c1c1c1" >
        <svg t="1615118246690" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2197" width="53" height="53" style="float: left; margin-left: 35px; margin-top: 16px" > <path d="M842.885223 80.406666h-82.127746v44.877008h82.127746c20.938792 0 37.973227 17.035651 37.973226 37.974443v696.943724c0 20.938792-17.034434 37.973227-37.973226 37.973227H181.112345c-20.938792 0-37.973227-17.034434-37.973227-37.973227V163.256901c0-20.938792 17.034434-37.974443 37.973227-37.974444h82.127746V80.406666H181.112345c-45.757617 0-82.850235 37.093834-82.850235 82.851451v696.943724c0 45.757617 37.093834 82.851451 82.850235 82.851451h661.772878c45.757617 0 82.850235-37.093834 82.850234-82.851451V163.256901c0-45.757617-37.092618-82.850235-82.850234-82.850235z" p-id="2198" fill="#12ADA9" > </path > <path d="M511.998784 684.306254L354.658019 526.966706l31.693414-31.693414 125.647351 125.646135 125.64735-125.646135 31.692198 31.693414zM261.757408 754.623621h500.485184v44.821057H261.757408z" p-id="2199" fill="#12ADA9" > </path > <path d="M489.588255 206.004148h44.821057v453.356785h-44.821057z" p-id="2200" fill="#12ADA9" > </path > </svg >
        <a style="float:left;margin-left:30px;margin-top:5px;font-size:15px" > 商品入库</a >
        </div >
        <div style="height:105px;width:125px;float:right" >
        <svg t="1615117855570" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1174" width="53" height="53" style="float: left; margin-left: 35px; margin-top: 16px" > <path d="M842.369507 80.528297h-82.127746v44.877008h82.127746c20.938792 0 37.973227 17.035651 37.973227 37.974443v696.943724c0 20.938792-17.034434 37.973227-37.973227 37.973227H180.595413c-20.938792 0-37.973227-17.034434-37.973227-37.973227V163.379748c0-20.938792 17.034434-37.974443 37.973227-37.974443h82.127746V80.528297H180.595413c-45.757617 0-82.850235 37.093834-82.850235 82.851451v696.943724c0 45.757617 37.093834 82.851451 82.850235 82.851451h661.772877c45.757617 0 82.850235-37.093834 82.850235-82.851451V163.379748c0.001216-45.757617-37.092618-82.851451-82.849018-82.851451z" p-id="1175" fill="#12ADA9" > </path > <path d="M511.483068 206.126995l157.339548 157.339548-31.693414 31.693414-125.646134-125.647351-125.647351 125.647351-31.693413-31.693414zM261.240476 754.745252h500.485184v44.821057H261.240476z" p-id="1176" fill="#12ADA9" > </path > <path d="M489.072539 231.0711h44.821058v453.356785h-44.821058z" p-id="1177" fill="#12ADA9" > </path > </svg >
        <a style="float:left;margin-left:30px;margin-top:5px;font-size:15px" > 商品出库</a >
        </div >
        </div >
        <div style="width:450px;height:500px;float:left;margin-left:52px;margin-top:48px;border-bottom:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-top:1px solid #c1c1c1;border-right:1px solid #c1c1c1" >
        <div style="height:45px;background-color:whitesmoke;border-bottom:1px solid #c1c1c1" >
        <strong > <label style="font-size:15px;float:left;margin-left:25px;margin-top:11px" > 公司公告</label > </strong >
        </div >
        <table style="font-size:15px" >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:19px" > <a > 2018年春节放假通知</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:12px" > <a > 2018年春节放假通知</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:12px" > <a > 2018年春节放假通知</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:12px" > <a > 2018年3月7日 公司聚餐</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:12px" > <a > 2018年3月7日 公司聚餐</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:12px" > <a > 2018年3月7日 公司聚餐</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:12px" > <a > 2018年3月7日 公司聚餐</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:12px" > <a > 2018年3月7日 公司聚餐</a > <hr style="width:450px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        </table >
        </div >
        <div style="width:365px;height:300px;float:left;margin-left:-10px;margin-top:-300px;border-bottom:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-top:1px solid #c1c1c1;border-right:1px solid #c1c1c1" >
        <div style="height:45px;background-color:whitesmoke;border-bottom:1px solid #c1c1c1" >
        <strong > <label style="font-size:15px;float:left;margin-left:25px;margin-top:11px" > 待处理事务</label > </strong >
        </div >
        <table style="font-size:15px" >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:19px" > <a > 待入库商品</a ><a style="color:red">&nbsp;&nbsp;(38)</a> <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a > 待出库商品</a ><a style="color:red">&nbsp;&nbsp;(68)</a> <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a > 待审核供应商</a ><a style="color:red">&nbsp;&nbsp;(20)</a> <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a > 待审批流程</a ><a style="color:red">&nbsp;&nbsp;(10)</a> <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a > 其他事项</a ><a style="color:red">&nbsp;&nbsp;(13)</a> <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        </table >
        </div >
        <div style="width:365px;height:300px;float:left;margin-left:21px;margin-top:-300px;border-bottom:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-top:1px solid #c1c1c1;border-right:1px solid #c1c1c1" >
        <div style="height:45px;background-color:whitesmoke;border-bottom:1px solid #c1c1c1" >
        <strong > <label style="font-size:15px;float:left;margin-left:25px;margin-top:11px" > 日程管理</label > </strong >
        </div >
        <table style="font-size:15px" >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:19px" > <a style="color:red" > 2017.12.03</a > <a style="margin-left:10px" > 需求会议</a > <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a style="color:red" > 2017.12.03</a > <a style="margin-left:10px" > 需求会议</a > <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a style="color:red" > 2017.12.03</a > <a style="margin-left:10px" > 需求会议</a > <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a style="color:red" > 2017.12.03</a > <a style="margin-left:10px" > 需求会议</a > <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        <tr >
        <td style="float:left;margin-left:20px;margin-top:10px" > <a style="color:red" > 2017.12.03</a > <a style="margin-left:10px" > 需求会议</a > <hr style="width:365px;float:left;color:#c1c1c1;margin-left:-20px" /> </td >
        </tr >
        </table >
        </div >
        <div style="width: 755px;height:300px;margin-left:-10px;margin-top:600px;border-bottom:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-top:1px solid #c1c1c1;border-right:1px solid #c1c1c1" >
        <div style="height:45px;background-color:whitesmoke;border-bottom:1px solid #c1c1c1;" >
        <strong > <label style="font-size:15px;float:left;margin-left:25px;margin-top:11px" > 订单统计</label > </strong >
        </div >

        <div id="main" style="width: 660px;height:330px;margin-left:40px;margin-top:-30px" > </div >

        </div >
        <div style="width: 450px;height:300px;float: left;margin-left: 802px;margin-top: -301px;border-bottom:1px solid #c1c1c1;border-left:1px solid #c1c1c1;border-top:1px solid #c1c1c1;border-right:1px solid #c1c1c1" >
        <div style="height:45px;background-color:whitesmoke;border-bottom:1px solid #c1c1c1" >
        <strong > <label style="font-size:15px;float:left;margin-left:25px;margin-top:11px" > 热门分类</label > </strong >
        </div >
        <div style="height:40px;border-bottom:1px solid #c1c1c1">
        <label style="float:left;margin-left:60px;margin-top:10px"> 热门分类为女装、男装、女鞋、男鞋、家电、其他</label >
        </div >
        <div >
        <div class="layui-progress layui-progres" lay-showpercent="true" style="width:250px;float:left;margin-left:120px;margin-top:40px">
        <label style="float:left;margin-left:-35px;margin-top:-8px" > 女装:</label >
        <div class="layui-progress-bar" lay-percent="35%" style="width: 70%;" > </div >
        </div >
        <div class="layui-progress layui-progres" lay-showpercent="true" style="width:250px;float:left;margin-left:120px;margin-top:30px">
        <label style="float:left;margin-left:-35px;margin-top:-8px" > 男装:</label >
        <div class="layui-progress-bar" lay-percent="25%" style="width: 70%;" > </div >
        </div >
        <div class="layui-progress layui-progres" lay-showpercent="true" style="width:250px;float:left;margin-left:120px;margin-top:30px">
        <label style="float:left;margin-left:-35px;margin-top:-8px" > 女鞋:</label >
        <div class="layui-progress-bar" lay-percent="15%" style="width: 70%;" > </div >
        </div >
        <div class="layui-progress layui-progres" lay-showpercent="true" style="width:250px;float:left;margin-left:120px;margin-top:30px">
        <label style="float:left;margin-left:-35px;margin-top:-8px">男鞋:</label >
        <div class="layui-progress-bar" lay-percent="10%" style="width: 70%;" > </div >
        </div >
        <div class="layui-progress layui-progres" lay-showpercent="true" style="width:250px;float:left;margin-left:120px;margin-top:30px">
        <label style="float:left;margin-left:-35px;margin-top:-8px" > 男鞋:</label >
        <div class="layui-progress-bar" lay-percent="7%" style="width: 70%;color:darkmagenta">
        </div >
        </div >
        </div >
        </div >
        </div >
        </div >
        <script >
        //注意进度条依赖 element 模块，否则无法进行正常渲染和功能性操作
        layui.use('element', function () {
                var element = layui.element;
            });
        </script >

        <script >
        layui.config({
                base: './dist/' //指定 layuiAdmin 项目路径
                , version: '1.6.0'
            }).use('index', function () {
                var layer = layui.layer, admin = layui.admin;
                layer.ready(function () {
                    admin.popup({
                        content: '单页面专业版默认未开启“多标签”功能，实际运用时，你可以自定义是否开启'
                        , area: '300px'
                        , shade: false
                    });
                });
            });
        </script >

        <script >
        layui.data.theme = function () {
            layui .use('form', function () {
                    var form = layui.form
                        , admin = layui.admin;

                    //监听隐藏开关
                    form.on('switch(system-theme-sideicon)', function () {
                        admin.theme({
                            hideSideIcon: this.checked
                        })
                    });
                });
        }

        ;
        </script >

        <script src="~/layui-v2.5.7/layui/layui.js" > </script >
        <script type="text/javascript" src="js/echarts.js" > </script >
        <script type="text/javascript" >
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));


        // 指定图表的配置项和数据
        var option = {
            xAxis:

        {
            type: 'category', boundaryGap: false
        }

        ,
        yAxis: {
            type: 'value', boundaryGap: [0, '30%']
        }

        ,
        visualMap: {
            type: 'piecewise', show: false, dimension: 0, seriesIndex: 0, pieces: [{
                        gt: 1,
                        lt: 3,
                        color: 'rgba(0, 0, 180, 0.4)'
                    }, {
                        gt: 5,
                        lt: 7,
                        color: 'rgba(0, 0, 180, 0.4)'
                    }]
        }

        ,
        series: [ {
            type: 'line', smooth: 0.6, symbol: 'none', lineStyle:

        {
            color: '#5470C6', width: 6
        }

        ,
        markLine: {
            symbol: ['none', 'none'], label:

        {
            show: false
        }

        ,
        data: [ {
            xAxis: 1
        }

        ,
        {
            xAxis: 3
        }

        ,
        {
            xAxis: 5
        }

        ,
        {
            xAxis: 7
        }

        ]
        }

        ,
        areaStyle: {
        }

        ,
        data: [
        ['2019-10-10', 200],
        ['2019-10-11', 560],
        ['2019-10-12', 750],
        ['2019-10-13', 580],
        ['2019-10-14', 250],
        ['2019-10-15', 300],
        ['2019-10-16', 450],
        ['2019-10-17', 300],
        ['2019-10-18', 100]
        ]
        }
        ]
        }
        ;


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        </script >




        <script >
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
                var element = layui.element;


            });

        layui.use('element', function () {
                var element = layui.element;

                //一些事件监听
                element.on('tab(demo)', function (data) {
                    console.log(data);
                });
            });
        </script >

        <script >
        //JavaScript代码区域
        layui.use('element', function () {
                var $ = layui.jquery
                    , element = layui.element;
            });

        </script >
        </body >
        </html >
