@{ 
    //ViewData["Title"] = "UserDeng";
    Layout = null; }

@*<h1>UserDeng</h1>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录账号</title>
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>

</head>
<body>

    @*个人登陆页面*@
    <div style="background-color:#20232A;height:50px">
        <strong>
            <label style="float:left;color:#12ADA9;font-size:23px;margin-left:400px;margin-top:7px">ERP管理系统</label>

        </strong>
    </div>
    <div style="background-color: #E3E7E6;height: 700px">

        <img src="~/Img/102.jpg" />xuedaole1、
        <div style="width: 900px;height: 600px;float: left;margin-left: 800px;margin-top:-600px;background-color: white;border-bottom: 1px solid #C1C1C1;border-left: 1px solid #C1C1C1;border-right: 1px solid #C1C1C1">

            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="float:left;margin-left:70px;margin-top:50px">
                <label class="layui-this" style="font-size: 20px;width:100px;margin-left:120px;border-bottom:none;color:#12ADA9">密码登录</label>
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show" style="float:left;margin-top:50px">
                        <form class="layui-form">

                            <tr>
                                <td>
                                    <i class="layui-icon layui-icon-user" style="font-size:20px;color:#20232A;float:left;margin-left:-23px;color:#12ADA9"></i>
                                    <input type="text" name="LoginName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input" id="LoginName" style="border:none;margin-top:-10px;border-bottom:1px solid #c1c1c1">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="layui-icon layui-icon-password" style="font-size:20px;color:#20232A;float:left;margin-top:60px;margin-left:-23px;color:#12ADA9"></i>
                                    <input type="text" name="LoginPass" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" id="LoginPass" style="border: none;border-bottom: 1px solid #c1c1c1;width:300px;margin-top:50px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="layui-icon layui-icon-auz" style="font-size:20px;color:#20232A;float:left;margin-top:60px;margin-left:-23px;color:#12ADA9"></i>
                                    <input type="text" name="LoginCode" required  placeholder="请输入验证码" autocomplete="off" class="layui-input" id="LoginCode" style="border: none;border-bottom: 1px solid #c1c1c1;width:300px;margin-top:50px">
                                    @*<img src="/Hands/GetValidateImage" id="valiCode" placeholder="请输入验证码" alt="Alternate Text" />*@
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button lay-submit lay-filter="DengRu">登入</button>
                                </td>
                            </tr>


                        </form>
                        <div style="width:300px;height:400px;float:left;margin-left:390px;margin-top:-320px;background-color:white;border-left: 1px dashed #C1C1C1">
                            <table>
                                <tr>
                                    <td>
                                        <label style="font-size:20px;float:left;margin-left:50px;color:#4a4a4a">还没有账号:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a style="font-size:15px;float:left;margin-left:50px;margin-top:60px;color:#12ADA9" href="/Hands/UserZhuCe">立即注册</a>
                                        <a>
                                            <i class="layui-icon layui-icon-add-circle" style="font-size:20px;float:left;margin-left:50px;margin-top:59px;color:#12ADA9"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label style="font-size:20px;float:left;margin-top:60px;margin-left:50px;color:#4a4a4a">使用第三方登陆:</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="layui-icon layui-icon-login-qq" style="font-size:25px;float:left;margin-left:50px;margin-top:59px;color:#12ADA9"></i>
                                        <i class="layui-icon layui-icon-login-wechat" style="font-size:25px;float:left;margin-left:50px;margin-top:59px;color:#12ADA9"></i>
                                        <svg t="1615597510890" class="icon" style="font-size:5px;float:left;margin-left:50px;margin-top:59px;color:#12ADA9" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2706" data-spm-anchor-id="a313x.7781069.0.i3" width="28" height="28"><path d="M512.465 98.744c-236.05-2.401-429.41 187.034-431.998 423.242 0.894 183.912 120.176 346.283 295.332 402.018 21.6 3.93 29.451-9.04 29.451-20.436v-71.916c-120.17 25.545-145.7-56.59-145.7-56.59a112.364 112.364 0 0 0-47.914-62.089c-39.272-25.937 3.141-25.545 3.141-25.545a90.702 90.702 0 0 1 65.978 43.624c25.358 43.993 81.26 59.548 125.678 34.976a91.569 91.569 0 0 1 27.487-56.59c-95.825-10.615-196.36-46.768-196.36-209.067a163.13 163.13 0 0 1 43.591-114.358 148.652 148.652 0 0 1 4.32-111.609c15.896-35.223 36.525-11.397 117.815 43.229a419.24 419.24 0 0 1 216.002 0c82.471-54.626 117.82-43.229 117.82-43.229a148.657 148.657 0 0 1 4.32 111.61 163.145 163.145 0 0 1 45.945 113.57c0 162.695-101.321 198.458-196.36 209.067a98.273 98.273 0 0 1 29.452 78.594v115.933c0 13.752 7.856 24.756 29.457 20.43 174.63-56.071 293.466-218.106 294.545-401.622C941.878 285.778 748.52 96.343 512.465 98.744" fill="#12ADA9" p-id="2707"></path></svg>
                                        @*<i class="layui-icon layui-icon-login-weibo" style="font-size:25px;float:left;margin-left:50px;margin-top:59px;color:#12ADA9"></i>*@
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(DengRu)', function (data) {
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                var q = "http://localhost:52142/api/Defunct/GetReuslt?LoginPhone="+data.field.LoginName+"&LoginPass="+data.field.LoginPass;
                $.ajax({
                    url: q,
                    type: 'post',
                    contentType: "application/json",//跨域
                    success: function (d) {
                        if (d > 0) {
                            alert('登录成功');
                            location.href = '/Hands/Indexs';

                        }
                        else if (d == -1) {
                            alert("登录失败");
                        }
                        else if (d == -3) {
                            alert('验证码错误');
                            $('#valiCode').click();
                            $('#LoginCode').val("").focus();
                        }
                    }
                })
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });



        //手机发送验证码

    </script>

   
</body>
</html>





